/*****************
Title/First header
*****************/
div#MenuBar {
    height: 50px;
    width: 2000px;
    
    background-color: #17252A;
    
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    
    position: fixed;
}

div#Head {
    /*Font styling for the head*/
    text-align: left;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    
    /*Head margin*/
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    
    height: 100px;
    
    /*Background color*/
    background-color: #2B7A78;
}

/*****************
    Body
*****************/
body {
    background-color: #FEFFFF;
}

div#Body {
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

    margin: 30px;
    
    background-color: #FEFFFF;
}
/*****************
    Block
*****************/
div.Block {
    background-color: #FEFFFF;
    
    margin: 10px;
    padding: 10px;
    
    border-radius: 3px;
    border: 3px solid #ccc;
}

/*****************
    Footer
*****************/
.Contact {
    background-color: #2B7A78;
    
    /*Font styling for the footer*/
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
    height: 50px;
    
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:-10px;
}

.Footer {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*****************
Head hr
*****************/
hr.Head {
    
    border: 1px solid;
    border-radius: 3px;
    
    color: #cccccc;
}

/*****************
Body hr
*****************/
hr.Body {
    border: 1px solid;
    border-radius: 3px;
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: #cccccc;
}

.Title {
margin: auto;
  width: 50%;
  padding: 10px;
}

/* Textbok style */
.Textbox {
    width: 100%;
    padding: 6px 6px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #CCC;
    
    margin-top:8px;
    margin-bottom:8px;
}
